.next-days-container {
    /* display: flex; */
    width: 140px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.next-days-container:last-child {
    border: none;
}

.temps {
    display: flex;
}

.day-temp, .night-temp {
    width: 50%;
    text-align: center;
}

.day-temp img, .night-temp img {
    margin-left: auto;
    margin-right: auto;
}

.temps p {
    font-size: 12px;
}

.date {
    font-size: 12px;
}

@media (max-width: 420px) {
    .next-days-container {
        width: 19.9%;
    }
}
